
@import 'tailwindcss';
@import '@/assets/base.css';
@import '@/assets/fonts.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media(max-width: 7480px) {
  #app {
    padding: 0;
  }
  
}

